@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eleven Note</h1>
    <p class="lead">Eleven Note is a free service for writing and storing notes that you can reference, edit, favorite, and delete.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To access your notepad, just simply login or register a new account!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more notes</h2>
        <p>Regular users have a note limmit of 100, become a premium account to have access to unlimmited notes!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Send a Suggestion</h2>
        <p>We're always looking to improve our site with more features. Click the link below to send us a suggestion!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>