body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(/Content/note.jpg); /* Background notes image*/
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron { /* Header */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
}

.navbar-inverse { /* Navbar background color */
    background-color: #352013;

}

.navbar-inverse .navbar-brand{ /* Navigation title*/
    color: #db9c74;
    font-size: 30px;
}

.navbar-inverse .navbar-nav li > a{
    color: #db9c74; /* Navigation links */
}

.btn-primary{
    background-color: #db9c74;
    border-color: #db9c74;
}

.btn-primary:hover{
    background-color: #b36c3f;
    border-color: #b36c3f;
}

.btn-default {
    background-color: #db9c74;
    color: white;
}

.btn-default:hover{
    background-color: #b36c3f;
    color: white;
}

div.col-md-4 {
    font-size: 20px;
}